<!doctype ejs>
<html>
	<head>
		<title><%= index.title %> - To-Do List</title>

		<!-- stylesheets -->
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
	</head>

	<body>
		<!-- flexible container for responsive design -->
		<div class="page-container">

			<!-- navigation bar -->
			<div class="nav-bar title">
				<span>To-Do List</span>
			</div>

			<!-- content -->
			<div class="content">
				<%# dynamically load page %>
				<%- include(index.page) %>
			</div>

		</div>
	</body>
</html>
